<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="org.testcontainers.DockerClientFactory" level="WARN"/>
    <logger name="org.testcontainers.dockerclient.DockerClientProviderStrategy" level="WARN"/>
    <logger name="org.testcontainers.utility.RegistryAuthLocator" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
